@import url('https://fonts.googleapis.com/css2?family=Honk&family=Poiret+One&family=Rubik+Glitch+Pop&display=swap');

body {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}